@{
    ViewData["Title"] = "Home Page";
}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Karim Smith</h5>
    <h6 class="card-subtitle mb-2 text-muted">Encargado de la Pagina</h6>
    <p class="card-text">Estamos para ayudarle en todo lo pusible</p>
    <a href="https://www.instagram.com/karim._.smith/" class="card-link">Contacto</a>
    <a href="https://mail.google.com/mail/u/0/#inbox" class="card-link">Gmail</a>
  </div>
</div>
